@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #1e1e1e;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-panel {
    flex: 1;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel {
    flex: 1;
    background: #fff;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildings {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.building {
    position: relative;
    border: 2px solid #000;
}

.b1 {
    width: 60px;
    height: 140px;
    background: #fff;
}

.b1 .window {
    width: 20px;
    height: 60px;
    background: none;
    border: 2px solid black;
    margin: 10px auto;
}

.b2 {
    width: 90px;
    height: 200px;
    background: #000;
}

.b2 .line {
    width: 70%;
    height: 50%;
    border: 2px solid white;
    margin: 10px;
}

.b3 {
    width: 60px;
    height: 140px;
    background: #fff;
    position: relative;
    top: 60px;
}

.b3 .door {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.b4 {
    width: 90px;
    height: 240px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.b4 .square {
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 2px;
}

.login-box {
    width: 80%;
    max-width: 350px;
    text-align: left;
}

.logo {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #333;
}

.login-btn {
    background: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.google-btn {
    margin-top: 10px;
    background: #f3f3f3;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signup {
    margin-top: 10px;
    font-size: 12px;
}